.title{
	font-size:300px;
	text-align: center;
	font-family: 'Bitter', serif;
	color: rgb(5, 59, 80);
	font-weight: bold;
}
.subtitle{
	font-size: 30px;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	color: rgb(23, 107, 135)
}
.box1{
	display: flex;
	width: 100%;
	flex-direction: column;
	background:rgb(238, 238, 238)
}
@media(max-width: 1000px){
	.title{
		font-size: 150px
	}
}


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">